name: Generate Snake

on:
  schedule:
    - cron: "0 0 * * *"   # runs once per day
  workflow_dispatch:     # allows manual run from Actions tab

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Generate snake SVG
        uses: Platane/snk@v3
        with:
          github_user_name: rajwani-7
          outputs: dist/github-contribution-grid-snake.svg

      - name: Publish generated SVG to branch 'output'
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

